.projects__section-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects__section-list li{
    margin-top: 10px;
    list-style-type: none;
    padding: 5px;
    margin-left: 10px; 
}
.projects__section-list a{
    color: white;
    text-decoration: none;
 }
 .projects__section-list a:hover{
    color: #ffc8fb;
    font-size: 1.2rem;
 }
