.about{
    position: relative;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 920px;
    margin: 0 auto;
}
.about__sections{
    width: 250px;
    height: 200px;
    text-align: center;
}

.about__img{
    width: 75%;
}
.about__anchor{
    cursor: pointer;
}
@media (min-width: 760px){
    .about{
        background-color: #fff5f6;
    }
}