.header__logo{
    width: 120px;
    cursor: pointer;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px; 
}
.header__nav{
    display: none;
    position: absolute;
    right: 15px;
    top: 60px;
}
.header__menu{
    cursor: pointer;
}
.menu__list{
    background-color: rgb(248, 213, 236);
}
.menu__item{
    list-style: none;
    padding: 15px;
}
.menu__item a{
    text-decoration: none;
    color:black; 
}
.header__logo, 
.header__menu {
    padding: 1rem;
}
.header__menu:hover + .header__nav{
    display: block;
}
@media (min-width: 600px){
    .header__logo{
        width: 150px;
    }
    .header__menu{
        display: none;
    }
    .header__nav{
        display: inherit;
        position: inherit;
        padding-right: 50px;
    }  
    .menu__list{
        display: flex;
        background-color: transparent;
    }
    .header__container{
        height: 100px;
    }
    .menu__item a:hover{
        text-decoration: none; 
        color: rgb(231, 154, 214);
    }

}
@media (min-width: 800px){
    .header__menu{
        display: none;
    }
    .header__nav{
        display: inherit;
        position: inherit;
        padding-right: 50px;
    }  
    .menu__list{
        display: flex;
        background-color: transparent;
    }
    .header__container{
        height: 150px;
    }
    .menu__item a:hover{
        text-decoration: none; 
        color: rgb(231, 154, 214);
    }

}