.header{
    width: 100%;
    min-width: 320px;
    max-width: 920px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}
.header__logo{
    width: 120px;
    cursor: pointer;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px; 
}
.header__nav{
    display: none;
    position: absolute;
    right: 15px;
    top: 60px;
}
.header__menu{
    cursor: pointer;
}
.menu__list{
    background-color: rgb(248, 213, 236);
}
.menu__item{
    list-style: none;
    padding: 15px;
}
.menu__item a{
    text-decoration: none;
    color:black; 
}
.header__logo, 
.header__menu {
    padding: 1rem;
}
.header__menu:hover + .header__nav{
    display: block;
}
