*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
}
html{
    font-size:100%;

}
.section__title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}
.figcaption__fontsize{
    font-size: 0.8rem;
}
